[submodule "part11/fullstackopen-pokedex"]
	path = part11/fullstackopen-pokedex
	url = https://github.com/jarkkovilmi/fullstackopen-pokedex.git
[submodule "part11/fullstackopen-phonebook"]
	path = part11/fullstackopen-phonebook
	url = https://github.com/jarkkovilmi/fullstackopen-phonebook.git
